{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<form action="" method="post" novalidate>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{ message }} </li><br>
      {% endfor  %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  <div>
    <h1>Create new Event</h1>
    <div class="mandatory">
      {{ render_field(forms.event.name) }}<br>
      {{ render_field(forms.event.description) }}<br>
      <div id="placeandtime">
        <div id="schedule">
        </div>
        <br>
        <div class="venue">
          Venue: <br>
          {{ forms.venue.street }}<br>
          {{ forms.venue.city}}, {{forms.venue.state}}, {{forms.venue.zip }}<br>
        </div>
      </div>
    </div>
    {{ render_field(forms.event.reminders) }}<br>
    {{ render_field(forms.event.hosts) }}<br>
    {{ render_field(forms.rsvp.alerts) }}<br>
    {{ render_field(forms.rsvp.close) }}<br>
    {{ render_field(forms.rsvp.limit) }}<br>
    {{ render_field(forms.rsvp.open) }}<br>
    {{ render_field(forms.event.venue_visibility) }}<br>
    {{ forms.submit}}
  </div>
</form>

{% endblock %}
