{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<form action="" method="post" novalidate>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{ message }} </li><br>
      {% endfor  %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  <div>
    <h1>Create new Event</h1>
      {% for formname, form in forms.items() %}
      <h2>{{ formname }}</h2>
        {% for field in form %}
          {{ render_field(field) }}<br>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</form>

{% endblock %}
