.mandatory input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin 8px 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

#name {
    font-size: 16pt;
    max-width: 80ch;
}

#description {
    font-size: 14pt;
    max-width: 80ch;
}

.starttime {
    margin: 5px;
    padding: 2px;
}

#start_month, #end_month, #start_hour, #end_hour {
    width: 10%;
}

#start_day, #end_day, #start_min, #end_min {
    width: 10%;
}

.endtime {
    margin: 5px;
    padding: 2px;
}

select {
    margin: 1px;
    border: 2px;
    border-style: solid;
    padding: 6px;
    border-color: #cc0000;
    background: white;
    color: #cc0000;
    font-size: 16;
}

option {
    color: #33cc33;
}

#schedule {
}

.venue {
    font-size: 16;
    color: #cc0000;
    font-weight: bold;
}

