{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.description) }}
    {{ render_field(form.duration) }}
    {{ render_field(form.email_reminders) }}
    {{ render_field(form.group_id) }}
    {{ render_field(form.group_urlname) }}
    {{ render_field(form.guest_limit) }}
    {{ render_field(form.host_instructions) }}
    {{ render_field(form.hosts) }}
    {{ render_field(form.how_to_find_us) }}
    {{ render_field(form.name) }}
    {{ render_field(form.publish_status) }}
    {{ render_field(form.questions) }}
    {{ render_field(form.rsvp_alerts) }}
    {{ render_field(form.rsvp_close) }}
    {{ render_field(form.rsvp_limit) }}
    {{ render_field(form.rsvp_open) }}
    {{ render_field(form.simple_html_description) }}
    {{ render_field(form.time) }}
    {{ render_field(form.venue_id) }}
    {{ render_field(form.venue_visibility) }}
    {{ render_field(form.waitlisting) }}
    {{ render_field(form.why) }}
	</dl>
	<p><input type=submit value=NewEvent>
</form>

{% endblock %}
