.mandatory input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin 8px 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

#name {
    font-size: 16pt;
    max-width: 80ch;
}

#description {
    font-size: 14pt;
    max-width: 80ch;
}

div.starttime {
    float: left;
}
div.endtime {
    float: clear;
}

div#schedule {
    float: clear;
}

div.venue {
    float: clear;
}
